html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.table-field-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
